@import '~codemirror/lib/codemirror';
@import '~codemirror/addon/dialog/dialog.css';

.CodeMirror {
  height: auto;

  .CodeMirror-matchingbracket {
    color: #000 !important;
  }

  &.CodeMirror-focused {
    .CodeMirror-matchingbracket {
      color: $color-primary !important;
      font-weight: bold;
    }
  }
}
