$header-height: 26px;
$default-padding: 20px;
$default-border-radius: 2px;

$border-color: #e6e6e6;
$background-color: #f1f0f0;
$color-primary: #0078e7;

$color-red: #E94F37;
$color-green: #00A97E;
$color-orange: #EC6E0D;
