@import '../styles/variables';

.typeahead {
  &:not(:last-of-type) {
    margin-right: 1px;
  }
}

.results {
  list-style-type: none;
  padding: 2px 0;
  margin: 0;

  position: absolute;
  z-index: 100;
  background: $background-color;
  border: 1px solid $border-color;
}

.listItem {
  padding: 2px $default-padding / 2;
  color: #000;
}

.hover {
  background: $color-primary;

  a {
    color: #fff;
  }
}

.listAnchor {
  text-decoration: none;
  color: #000;
}
