@import '../styles/variables';

.select {
  border: 1px solid #fff;
  border-radius: 0 0 2px 2px;
  -webkit-appearance: none;
  background: none;
  color: white;
  padding: 0 28px 0 6px;
  height: 1.55em;
  font-size: 0.75em;
}

:global {
  .environmentSelector {
    margin-top: -12px;
    margin-right: -3px;
  }

  .environmentSelector:after {
    display: block;
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    top: 4%;
    right: 18px;
    pointer-events: none;
  }
}
