.headerEditor {
  margin-bottom: 10px;
  max-width: 500px;

  :global {
	button.icon {
	  padding-left: 5px;
	}
  }
}

.header {
  display: flex;
  font-size: 0.85em;

  .input {
	display: none;
  }

  :global {
	input {
	  margin-bottom: 0 !important;
	  height: 28px;
	}
  }
}
