@import '../styles/variables';

.requestsList {
  border-right: 1px solid $border-color;
  width: 25%;
  max-width: 250px;
  min-width: 150px;
  overflow-y: scroll;

  :global {
	.project:not(:last-child) {
	  border-bottom: 1px solid $border-color;
	}

	.project-details {
	  padding: 5px 10px;
	  border-bottom: 1px solid $border-color;
	  background: lighten($background-color, 1%);
	}

	.new-request {
	  display: block;
	  width: 50px;
	  text-align: right;
	  float: right;
	  color: #000;
	}

	.request {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;

	  a {
		display: block;
		padding: $default-padding / 2 $default-padding / 2;
		color: #000;
		text-decoration: none;
	  }
	}

	.method {
	  border-radius: 1px;
	  padding: 3px;
	  margin-right: 5px;
	  font-size: 0.7em;
	  background: lightgray;

	  &.get {
		background: lightgreen;
	  }

	  &.post {
		background: lightyellow;
	  }

	  &.delete {
		background: lightcoral;
	  }

	  &.put, &.patch {
		background: lightblue;
	  }
	}
  }
}
