@import '../styles/variables';

.response {
  margin-top: $default-padding/2;
  border-top: 1px solid $border-color;
  overflow-y: scroll;
  flex: 2;

  pre {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    overflow: scroll;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
