@import '../styles/variables';

:global {
  .CodeMirror {
    margin-top: 10px;
    height: auto !important;
  }

  .CodeMirror .CodeMirror-matchingbracket {
    color: $color-primary !important;
    font-weight: bold;
  }
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.response {
  margin-top: $default-padding/2;
  border-top: 1px solid $border-color;
  overflow-y: scroll;
  flex: 2;
  display: flex;

  [role=tabpanel] {
    -webkit-user-select: text;
    user-select: text;

    flex: 1;
    overflow: scroll;
  }

  pre {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: scroll;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
