$header-height: 50px;
$default-padding: 20px;
$color-primary: #17212d;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, #app-view, #main {
  height: 100%;
}

* {
  box-sizing: border-box;
}

label {
  display: block;
}

body, input, textarea, option {
  font-family: 'Open Sans', serif;
}

textarea {
  -webkit-appearance: textfield;
}

input[type=text], input[type=url], textarea {
  padding: 5px;
  font-size: 1em;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f1f0f0;
}

#header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background: $color-primary;
  padding: 15px;
  box-sizing: border-box;
  color: #fff;

  a {
	text-decoration: none;
	color: #fff;
  }
}

#main {
  display: flex;
  padding-top: $header-height;
}

input[type=button], input[type=submit], button, a.btn {
  appearance: none;
  border: none;
  padding: 5px 10px;
  font-family: 'Open Sans', serif;
  font-size: 1em;
  border-radius: 5px;
  margin: 10px 0;
  background-color: $color-primary;
  color: #fff;
  outline: none;
  text-decoration: none;

  &:hover {
	cursor: pointer;
  }

  &:active, &:focus {
	background-color: darken($color-primary, 10%);
  }
}

#requests {
  border-right: 1px solid #e6e6e6;
  width: 25%;
  max-width: 250px;
  min-width: 150px;

  .request {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	a {
	  display: block;
	  padding: $default-padding / 2 $default-padding / 2;
	  color: #000;
	  text-decoration: none;
	}
  }

  .method {
	border-radius: 1px;
	padding: 3px;
	font-size: 0.7em;
	background: lightgray;

	&.get {
	  background: lightgreen;
	}

	&.post {
	  background: lightyellow;
	}

	&.delete {
	  background: lightcoral;
	}

	&.put, &.patch {
	  background: lightblue;
	}
  }
}

.request-editor {
  flex: 1;

  .delete {
	float: right;
  }

  .headers {
	width: 100%;
  }
}

.page, .edit-request-page, .new-request-page {
  flex: 1;
  padding: $default-padding;
}

.response {
  background: #fff;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

.new-project-page {
  h2 {
	margin: 0 0 10px 0;
  }
}
